@tailwind base;
@tailwind components;
@tailwind utilities;

/* global outline focus */

*:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #4438ca;
}

/* input styles */

.ra-input {
  @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400;
}

/* button styles */

.ra-btn-primary {
  @apply inline-flex items-center rounded-lg bg-primary-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-primary-800;
}
